.gallery-container {
    padding-top: 20px;
}

.card-header {
    background-color: #fff;

}

.card {
    border: none;
}

.gallery-img {
    width: auto;
    height: 250px;
    margin: 0 !important;
    padding-top: 10px;
    object-fit: cover;
    border: transparent;
    border-radius: 15px;
}

.gallery-img:hover {
    border: 5px solid white;
}

h1 {
    font-weight: 700;
}

ngb-carousel {
    padding: 60px;
}

.btn-primary {
    background-color: #820000;
    border-color: #820000;
}

.btn-primary:hover {
    background-color: #6a0000;
    border-color: #6a0000;
}