.navbar-custom {
    height: 80px;
}

.navbar-toggler {
    background-color: #94AF9F;
}

.container.menu {
    position: relative;
}

.container.menu h3 {
    position: absolute;
    top: -20px;
}

.btn {
    font-size: 18px;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;  
}
.decorative-line {
    border-left: 2px solid #94AF9F;
    height: 35px;
  }
