<div id="navbar-primary">
    <div class="container">
        <div class="row align-items-start justify-content-center">
            <nav class="navbar navbar-expand-lg navbar-custom navbar-light">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="true" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <!-- <div class="col d-flex justify-content-start">
                            <div class="dropdown">
                                <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Languages
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">English</a></li>
                                    <li><a class="dropdown-item" href="#">Spanish</a></li>
                                </ul>
                            </div>
                        </div> -->
                        <div class="col d-flex justify-content-end">
                            <button type="button" class="btn border-0">Login</button>
                            <span class="decorative-line mx-3"></span>
                            <button type="button" class="btn border-0 last">Register</button>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <app-menu></app-menu>
    </div>
</div>


<!-- ------------------------------------------------------------------------------------------------------------------------------------------------ -->