.navbar-custom {
    height: 80px;
}

.navbar-toggler {
    background-color: #94AF9F;
    background: none;
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    border: none;
    box-shadow: none;
}

.container.menu {
    position: relative;
}

.container.menu h3 {
    position: absolute;
    top: -20px;
}

.btn {
    font-size: 16px;
    color: #B7B7B7;
    border: none;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.decorative-line {
    border-left: 2px solid #94AF9F;
    height: 30px;
}