h3 {
   color: #94AF9F;
}

.decorative-line {
    border-top: 4px solid #94AF9F;
    margin-top: 5px;
}

.col:hover {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #94AF9F;
    text-decoration-thickness: 4px;
}

.col {
    font-size: 18px;
}