h3 {
    color: #94AF9F;
    font-weight: bold;
}

.decorative-line {
    border-top: 2px solid #94AF9F;
    margin-top: 5px;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #94AF9F;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
}

.nav-link {
    font-size: 16px;
    color: #B7B7B7;
    margin: 10px;
}



