<div class="container menu">
  <div class="row">
    <div class="col-12 mt-2 d-flex align-items-end justify-content-center">
      <h3>Tapioles *Apartment.</h3>
    </div>
    <div class="col-12">
      <hr class="decorative-line w-100">
    </div>
    <div class="col d-flex justify-content-center w-100">
      <a class="nav-link" routerLink="/" routerLinkActive="active" aria-current="page">Home</a>
      <a class="nav-link" routerLink="/overview" routerLinkActive="active" aria-current="page">Overview</a>
      <a class="nav-link" routerLink="/gallery" routerLinkActive="active" aria-current="page">Gallery</a>
      <a class="nav-link" routerLink="/map" routerLinkActive="active" aria-current="page">Map</a>
      <a class="nav-link" routerLink="/contact" routerLinkActive="active" aria-current="page">Contact</a>

    </div>
  </div>
</div>