<div class="container">
    <div class="row py-4">
      <div class="col-12 d-flex justify-content-center">
        <img class="childImg" src="../../../assets/img.prueba/bedroom.jpg">
      </div>
      <div class="row d-flex align-items-start">
        <div class="col-12 d-flex justify-content-start mt-4 bold">
          <h1>Tapioles*Apartment</h1>
        </div>
        <div class="col mt-4"><p>3 Guests</p></div>
        <div class="col mt-4">1 Bedrom</div>
        <div class="col mt-4">2 Beds</div>
        <div class="col mt-4">1 Bathroom</div>
        <div class="col-12 mt-4">The cozy two-bedroom apartment is located on the Pest side of the city, right in the center and within walking distance to several restaurants, bars and attractions. </div>
      </div>
    </div>
  </div>
  