<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center ">
      <img class="img-fluid" src="../../../assets/img.prueba/bedroom3.jpg">
    </div>
    <div class="row d-flex align-items-start">
      <div class="col-12 d-flex justify-content-start mt-4 bold">
        <h6>APARTMENT</h6>
      </div>
      <div class="col-12 mt-2">
        <h1>Tapioles*Apartment</h1>
      </div>
      <div class="col-12 mt-4">
        <p>3 Guests</p>
        <p>1 Bedrom</p>
        <p>2 Beds</p>
        <p>1 Bathroom </p>
      </div>
      <div class="col-12 mt-4">
        <p>The cozy two-bedroom apartment is located on the Pest side of the city,
          right in the center and within walking distance to several restaurants,
          bars and attractions.
        </p>
      </div>
    </div>
  </div>
</div>