<body class="home custom-navbar" style="margin-top: 150px;">
    <div class="container mt-3">
        <div class="row">
            <img src="../../../assets/img.prueba/bedroom3.jpg" class="img-fluid" alt="...">
        </div>
    </div>






    <div class="container" style="margin-top: 10px;">
        <div class="row">
            <div class="col-12 bold">
                <h6>APARTMENT</h6>
            </div>
            <div class="col-12 ">
                <h1>Tapioles*Apartment</h1>
            </div>
            <div class="row" id="info">
                <div class="col">
                    <i class="bi bi-person">3 Guests</i>
                </div>
                <div class="col">
                  <p>1 Bedroom</p>
                </div>
                <div class="col">
                  <p>2 Beds</p>
                </div>
                <div class="col">
                  <p>1 Bathroom</p>
                </div>
              </div>
              
            <div class="col-12">
                <p>The cozy two-bedroom apartment is located on the Pest side of the city,
                    right in the center and within walking distance to several restaurants,
                    bars and attractions.
                </p>
            </div>
        </div>
    </div>
</body>