.welcome-container {
    margin-top: 100px;
    padding-bottom: 100px;
}

.welcome-message h2 {
    margin: 0;
}

.welcome-message p {
    margin: 5px 0;
}

.logout-button {
    background-color: #fff;
    color: #820000;
    border: 1px solid #820000;
    margin-bottom: 105px;
    text-transform: uppercase;
}

.logout-button:hover {
    background-color: #820000;
    color: #fff;
}

h1 {
    font-weight: 700;
}

.form-control {
    background-color: #fff;
    border: 1px solid #820000;
}

.form-control:focus {
    background-color: #fff;
    border: 1px solid #820000;
    box-shadow: none;
}

button.btn-create-account {
    background-color: #fff;
    border: 1px solid #820000;
    color: #820000;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 16px;
}

button.btn-create-account:hover {
    background-color: #820000;
    color: #fff;
}

a {
    color: #820000;
}

custom-margin{
    margin-top: 10px
}
