<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Location</h1>
        </div>
        <hr>
        <div class="col-6 pt-5">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Doloremque possimus hic ab quisquam ad nobis maiores esse placeat, eligendi,
                earum voluptas optio quam corrupti, in adipisci incidunt id. Minima, possimus?
            </p>
        </div>
        <div class="col-6 pt-5">
            <div id="map"></div>   
        </div>
        
    </div>
    
</div>