 <!-- Welcome -->
 <header style="background-image: url('../../../assets/img-tapioles/t-2.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat;">
  <div class="d-flex flex-column min-vh-100 bg-black-50 pt-10 pt-md-8 pb-7 pb-md-0">
    <div class="container my-auto">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 text-center">

          <!-- Heading -->
          <h1 class="display-1 text-white mb-4">
            Tapioles
          </h1>

          <!-- Subheading -->
          <p class="text-center text-white mb-7">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure aut numquam sed sint est saepe
            commodi expedita quis similique eveniet, hic facilis quam rem quasi necessitatibus laborum at? Sint, non!
          </p>

          <!-- Button -->
          <a class="btn btn-outline-primary text-white text-primary-hover mb-7 mb-md-0" routerLink="/contact">
            Make reservation
          </a>


        </div>
      </div>
    </div>
  </div>
</header>
