footer {
    position: relative;
    margin-top: auto;
    height: 100px;
    background-color: #73777B;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
 